* {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
  color: rebeccapurple;
}

h1 {
  text-align: center;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

input {
  background-color: darksalmon;
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}

.name {
  width: 200px;
}

th {
  background-color: aliceblue;
}

td {
  padding: 10px;
  text-align: center;
}

tbody {
  background-color: lightpink;
}